#delete-user2,
#delete-user1,
#changepwd1,
#changepwd{
    margin-top: 5px;
    color: white;
    cursor: pointer;
}
/*修改密码文字*/
/*修改密码框*/
.changepassword{
    position: relative;
    top: 40px;
    width: 400px;
    height: 600px;
    margin: 0px auto;
    background-color: aliceblue;
    z-index: 100;
    text-align: center;
    display: none;
}

/*修改方法*/
.changepassword .changeways{
    width: 100%;
    height: 40px;
    padding-top: 20px;
}

.changepassword .changeways a{
    color: black;
    font-size: 20px;
    width: 50%;
}

.changepassword .changeways a:hover{
    color: burlywood;
}

/*分割线*/
.changepassword .changeways a:first-child {
    padding-right: 20px;
    border-right: 2px solid black;
}




/*用用户名修改*/
.changepassword .changepwdByname,
/*用邮箱修改*/
.changepassword .changepwdByemail{
    position: absolute;
}

.changepwdByemail{
    display: none;
}

.changepassword input{
    width: 80%;
    height: 60px;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    margin-top: 20px;
}
.changepassword button:last-child{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    font-size: 18px;
    background-color: paleturquoise;
}

.changepwdByemail .identifycode{
    position: relative;
}

.changepwdByemail .identifycode button{
    position: absolute;
    right: 50px;
    font-size: 12px;
    width: 60px;

}

label{
    display: none;
    color: black;
}

.changepassword i{
    position: absolute;
    top: 5px;
    right: 20px;
    cursor: pointer;
}