.changePassword {
    position: absolute;
    top: 45%;
    right: 50%;
    width: 550px;
    height: 400px;
    transform: translate(50%, -50%);
    background-color: white;
}

.changePassword_title {
    margin: auto auto;
    width: 400px;
    height: 80px;
    border-bottom: 1px solid gray;
}

.changePassword_title ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
}

.changecurrent {
    color: goldenrod;
}

.changePassword_oldPassword,
.changePassword_username,
.changePassword_newPassword,
.changePassword_email,
.changePassword_code,
.changePassword_newPassword1 {
    display: block;
    width: 400px;
    height: 30px;
    margin: 20px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}

.changePassword_getCode {
    display: inline-block;
    position: absolute;
    top: 160px;
    right: 75px;
    width: 80px;
    height: 40px;
}

.changePassword_button,
.changePassword_button1 {
    width: 400px;
    height: 40px;
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 80px;
    left: 50%;
    border-radius: 50px;
    border: 0;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.changePassword_returnLogin,
.changePassword_returnLogin1 {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 10px;
    height: 50px;
    line-height: 50px;
}