.deleteBox_background {
    position: relative;
    height: 700px;
    width: 100%;
    background-color: skyblue;
}

.deleteTalking_box {
    position: absolute;
    top: 20%;
    height: 400px;
    width: 800px;
    background-color: pink;
}