.homepage {
    position: absolute;
    top: 50%;
    right: 30%;
    width: 550px;
    height: 400px;
    transform: translate(50%, -50%);
    background-color: white;
    border-radius: 5px;
    display: none;
}

.homepageBox {
    position: absolute;
    top: 25%;
    right: 5%;
    transform: translate(-50%, -50%);
}

.homepage_userId,
.homepage_userEmail,
.homepage_userName {
    margin: 10px 10px;
}

.log_outButton {
    background-color: orange;
    color: white;
    width: 400px;
    height: 40px;
    border: 0;
    border-radius: 50px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.delete_userButton {
    width: 70px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    right: 20%;
    cursor: pointer;
}

.change_userButton {
    width: 100px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    right: 40%;
    cursor: pointer;
}

.input_headImg {
    width: 70px;
    height: 25px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 20%;
    cursor: pointer;
}

.deleteBox {
    background-color: #fff;
    width: 550px;
    height: 300px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
}


/* 删除信息输入框 */

.delete_username,
.delete_email,
.delete_password {
    display: block;
    width: 400px;
    height: 30px;
    margin: 20px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}


/* 确认删除按钮 */

.delete_button {
    width: 400px;
    height: 40px;
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 70px;
    left: 50%;
    border-radius: 50px;
    border: 0;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.delete_returnHomepage {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 10px;
    height: 50px;
    line-height: 50px;
}


/* 修改个人信息 */

.changeUserBox {
    background-color: #fff;
    width: 550px;
    height: 500px;
    border: 0;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    display: none;
}


/* 修改信息内容框 */

.changeUserContent {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* 修改信息输入框 */

.changeUser_id,
.changeUser_username,
.changeUser_email,
.changeUser_phone,
.changeUser_sex,
.changeUser_age {
    display: block;
    width: 400px;
    height: 30px;
    margin: 20px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}


/* 确认修改按钮 */

.changeUserButton {
    width: 400px;
    height: 40px;
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 50px;
    border: 0;
    transform: translate(-50%, 0);
    cursor: pointer;
}


/* 返回主页按钮 */

.changeuser_returnHomepage {
    position: inherit;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 10px;
    height: 50px;
    line-height: 50px;
}


/* 上传头像 */

.inputHeadImgBox {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 550px;
    height: 400px;
    transform: translate(50%, -50%);
    background-color: white;
    border-radius: 5px;
    display: none;
}

.inputHeadImg_username {
    display: block;
    width: 400px;
    height: 30px;
    margin: 40px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}