/* 登录页面整体样式 */


/* 登录背景 */

.login_background {
    position: absolute;
    top: 0px;
    width: 100%;
    height: calc(100vh);
    background-color: seashell;
}


/* 小Alogo */

.Login_backImg {
    position: absolute;
    top: 22%;
    left: 26%;
}

.welcome {
    color: slateblue;
    height: 200px;
    width: 400px;
    position: absolute;
    left: 18%;
    top: 50%;
}

.login {
    position: absolute;
    top: 45%;
    right: 30%;
    width: 550px;
    height: 370px;
    transform: translate(50%, -50%);
    background-color: white;
    border-radius: 10px;
}


/* 登录tab栏 */

.login .current {
    color: green;
}


/* 关闭登录栏 */

.login_close {
    position: inherit;
    width: 30px;
    height: 30px;
    background: url(../image/shut.png) no-repeat;
    right: 30px;
    top: 15px;
}

.login_close:hover {
    transform: rotate(180deg);
    transition: 1.5s;
}


/* 登录tab栏标题 */

.login_title {
    margin: auto auto;
    width: 400px;
    height: 80px;
    border-bottom: 1px solid gray;
}

.login_title ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
}


/* 登录输入内容栏 */

.login_personMessage_username {
    display: block;
    width: 400px;
    height: 30px;
    margin: 25px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}

.login_personMessage_email {
    display: block;
    width: 400px;
    height: 30px;
    margin: 25px auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}

.login_personMessage_password,
.login_personMessage_password1 {
    display: block;
    width: 400px;
    height: 30px;
    margin: 0 auto;
    outline: 0px;
    border-style: none;
    border-bottom: 1px solid gray;
    text-indent: 5px;
    font-size: 15px;
}


/* 七天免登陆 */

.freeLogin {
    position: absolute;
    right: 10%;
    top: 215px;
}

.freeLogin_Button {
    position: absolute;
}


/* 隐藏密码 */

.login_personMessage_password_close,
.login_personMessage_password_close1 {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-top: -40px;
    right: 77px;
    border: 0px;
    background: url(../image/closeeye.png);
}


/* 登录提示 */

.login_passwordTips,
.login_passwordTips1 {
    bottom: 155px;
    left: 75px;
    font-size: 12px;
    position: absolute;
}


/* 忘记密码 */

.login_personMessage_password_forget,
.login_personMessage_password_forget1 {
    display: block;
    position: absolute;
    left: 80px;
    top: 215px;
}


/* 登录按钮 */

.login_personMessageButton,
.login_personMessageButton1 {
    width: 400px;
    height: 40px;
    background-color: orange;
    color: white;
    position: absolute;
    bottom: 70px;
    left: 50%;
    border-radius: 50px;
    border: 0;
    transform: translate(-50%, 0);
    cursor: pointer;
}


/* 注册账号 */

.login_returnRegister {
    position: inherit;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 10px;
    height: 50px;
    line-height: 50px;
}